.navbar-logo{
  z-index: 999;
  transition: .5s;
  a{
    font-size: 0;
    width: 128px;
    height: 38px;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume.png?raw=true) no-repeat;
  }
}

.navbar-collapse {
  background-color: transparent;
  @include mobile {
    background-color: $secondary;
  }
}