.productInfo {
  width: 100%;
}
.view{
  height: 100%;
  cursor:pointer;
  overflow:hidden;
  display:block;
  border:1px solid #fff;
  img{
    transition: transform .5s;
  }
  &:hover img{
    transform:scale(2,2);
  }
}
.topic-img img{
  @include mobile{
    min-width: 345px;
    height: 350px;
  }
}
.topic-pic{
  padding-top: 100%;
}
.topic-pic-lg{
  padding-top: 155%;
  @include pad{
    padding-top: 130%;
  }
  @include mobile{
    padding-top: 120%;
  }
}